@page "/"
@inherits IndexViewModel

<h1>EventStore Test</h1>

<h1>Counter</h1>

<p>Events received from EventStore: @EventsReceived</p>
<button class="btn btn-primary" @onclick="Send">Send Message</button>
