@page "/"
@inherits IndexViewModel

<h1>EventStore Test</h1>

<h1>Counter</h1>

<button class="btn btn-primary" @onclick="AddCounter">Add Counter</button>

<Host.Pages.Components.ListViewTemplate Items="Counters" T="Counter">
    <ItemTemplate Context="counter">
        <li>@counter.Label clicked @counter.NumberOfClicks <button class="btn btn-info" onclick="@((Action<EventArgs>) (async args => await ClickCounter(counter)))">Notify</button></li>
    </ItemTemplate>
</Host.Pages.Components.ListViewTemplate>